@model ooadtest4_5.Models.course

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.teacher_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teacher_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.report_percentage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.report_percentage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.presentation_percentage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.presentation_percentage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.question_percentage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.question_percentage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.is_group)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.is_group)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.start_datetime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.start_datetime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.end_datetime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.end_datetime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.max_member_limit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.max_member_limit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.min_member_limit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.min_member_limit)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
