
@{
    ViewBag.Title = "CheckStuScore";
    Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
}
<style>
    ul {
        line-height: 40px;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        width: 100%;
        color: #000000;
        border-style: none;
        border-radius: 5px;
        text-align: center;
    }
</style>
@for (int i = 0; i < ViewBag.totalround.Count; i++)
{
        <ul id="r_@i" style="line-height:40px;list-style-type:none;width:100%;">   
            <li style="width:100%;color:#000000;border-style:ridge;border-radius:5px;background-color:#1fa5e5;text-align:center;" onclick="f('r_@i')">@{i++;} 第 @i 轮 @{ i--;}
				<span class="glyphicon glyphicon-align-justify" style="float:right;line-height:40px;margin-right:1em;"></span>
			</li>    
            @foreach (var j in ViewBag.totalround[i])
            {
                <li id="r_@i-r_@j.team_serial" style="background-color:#ffffff;display:none">
                    @j.team_serial  总分：<font id="tot_@i-r_@j.team_serial"> @j.total_score </font>
                    @foreach(var k in j.list)
                    {
                    <ul>
                        <li>
                            <h4>@k.seminar_name</h4>
                            展示：<input type="text" style="width:100%" name="presc_@i-r_@j.team_serial" maxlength="2" value="@k.presentation_score" />
                            提问：<input type="text" style="width:100%" name="quesc_@i-r_@j.team_serial" maxlength="2" value="@k.question_score" />
                            报告：<input type="text" style="width:100%" name="repsc_@i-r_@j.team_serial" maxlength="2" value="@k.report_score" />
                            <button type="button" onclick="upd('_@i-r_@j.team_serial',@j.tid,@k.ksid);">修改</button>
                        </li>
                    </ul>
                    }
                </li>
            }
        </ul>
}
<button class="btn btn-primary btn-block" style="margin-top:40px" onclick="dlMethod()">
    导出成绩
</button>
<script>
    function f(roundId) {
        var liArr = document.querySelectorAll("ul[id='" + roundId + "'] li")
        for (var i = 1; i < liArr.length; i++) {
            if (liArr[i].style.display == "block") {
                liArr[i].style.display = "none";
            }
            else
                liArr[i].style.display = "block";
        }
    }
    function dlMethod()
    {
        window.location.href = "/TeacherMobile/crtmarkxls/" + @ViewBag.course_id;
    }
    function upd(str,tid,ksid) {
        $.ajax({
            'url': "/TeacherMobile/chgscore",
            'type': "post",
            'data': {
                pre: document.getElementById("pre" + str).value,
                rep: document.getElementById("rep" + str).value,
                que: document.getElementById("que" + str).value,
                tid: tid,
                ksid: ksid
            },
            success: function (mes) {
                document.getElementById("tot" + str).value = mes;
            },
            error: function () {
                alert("连接服务器失败，请重试");
            }
        })
    }
</script>