
@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/TMobileLayout/_TMobileLayout4.cshtml";
    ViewBag.TitleText = "新建课程";
}

<script type="text/javascript">
    var num1 = 0;   //cmls
    var num2 = 0;   //ccs
    var numinner1 = 0;
    var numinner2 = 0;
    var numinner3 = 0;

    function check(form) {
        if (document.getElementById("name").value == null || document.getElementById("name").value == "") {
            alert("课程名不能为空");
            return false;
        }
        var p1 = document.getElementById("preScore");
        var p2 = document.getElementById("repScore");
        var p3 = document.getElementById("queScore");
        if ((parseInt(p1.value) + parseInt(p2.value) + parseInt(p3.value)) != 100) {
            alert("请检查成绩比例");
            return false;
        }
        if (parseInt(document.getElementById("minn").value) > parseInt(document.getElementById("maxn").value)) {
            alert("请检查上下限人数的值");
            return false;
        }
        if (Date.parse(document.getElementById("startTime")) > Date.parse(document.getElementById("endTime"))) {
            alert("请检查组队时间");
            return false;
        }
        return true;
    }

    function addt()
    {
        num1++;
        var parent = document.getElementById("optinalCourse");
        var x = 'addOptionalCourse' + num1;
        var d = document.getElementById(x);
        d.style.display = "block";
        document.getElementById("num1").value=num1;
        parent.appendChild(d);
    }

    function addt2(){
        num2++;
        var parent = document.getElementById("showconflictCourse");
        var x = 'addConflictCourse' + num2;
        var d = document.getElementById(x);
        d.style.display = "block";
        document.getElementById("num2").value = num2;
        parent.appendChild(d);
    }

    function addinner(x) {
        var t;
        var p;
        if (x == '1')
        {
            numinner1++;
            t = 'inner1' + numinner1;
            p = 'addinner1';
            document.getElementById("numinner1").value=numinner1;
        }
        else if (x == '2')
        {
            numinner2++;
            t = 'inner2' + numinner2;
            p = 'addinner2';
            document.getElementById("numinner2").value = numinner2;
        }
        else if (x == '3')
        {
            numinner3++;
            t = 'inner3' + numinner3;
            p = 'addinner3';
            document.getElementById("numinner3").value = numinner3;
        }
        var d = document.getElementById(t);
        var parent = document.getElementById(p);
        parent.appendChild(d);
        d.style.display = "block";
    }
</script>



<form method="post" style="text-align: center;padding: 30% 0 20% 0; height:95%;" class="btn-group-justified" onsubmit="return check(this);">

    <input type="hidden" value="0" id="num1" name="num1" />
    <input type="hidden" value="0" id="num2" name="num2" />
    <input type="hidden" value="0" id="numinner1" name="numinner1" />
    <input type="hidden" value="0" id="numinner2" name="numinner2" />
    <input type="hidden" value="0" id="numinner3" name="numinner3" />
    <div class="informationlist" style="border-top-color:lightgray; margin-bottom:10px;">
        <input id="name" class="input input_username" name="course_name" placeholder="课程名" type="text" />
    </div>

    <div class="informationlist" style="border-top-color:lightgray; margin-bottom:10px;">
        <p style="color:#45B39D; font-size:large">课程要求</p>
        <textarea type="text" name="introduction" style="width:100%"></textarea>
    </div>
    <div class="informationlist" style="border-top-color:lightgray;margin-bottom:10px;">
        <p style="color:#45B39D; font-size:large">成绩计算规则</p>
        <div class="input-group" style="margin-top:20px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">展示</span>
            <input type="number" name="presentation_percentage" class="form-control" id="preScore" />
            <span class="input-group-addon">%</span>
        </div>
        <div class="input-group" style="margin-top:20px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">报告</span>
            <input type="number" name="report_percentage" class="form-control" id="repScore" />
            <span class="input-group-addon">%</span>
        </div>
        <div class="input-group" style="margin-top:20px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">提问</span>
            <input type="number" name="question_percentage" class="form-control" id="queScore" />
            <span class="input-group-addon">%</span>
        </div>
    </div>
    <div class="informationlist" style="border-top-color:lightgray;margin-bottom:10px;">
        <p style="color:#45B39D; font-size:large">小组人数</p>
        <div class="input-group" style="margin-top:20px;">
            <span style="font-size:large;color:#45B39D;" name="min_member" class="input-group-addon">下限</span>
            <input id="minn" name="min_member" type="number" class="form-control">
        </div>
        <div class="input-group" style="margin-top:20px;">
            <span style="font-size:large;color:#45B39D;" name="max_member" class="input-group-addon">上限</span>
            <input id="maxn" name="max_member" type="number" class="form-control">
        </div>
    </div>
    <div class="informationlist" style="border-top-color:lightgray;margin-bottom:10px;">
        <p style="color:#45B39D; font-size:large">组队时间</p>
        <div class="input-group" style="margin-top:20px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">开始时间</span>
            <input id="startTime" name="team_start_time" type="date" class="form-control">
        </div>
        <div class="input-group" style="margin-top:20px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">结束时间</span>
            <input id="endTime" name="team_end_time" type="date" class="form-control">
        </div>
    </div>
    <!--选修1=========================================================================================================================================-->
    <div class="informationlist" style="border-top-color:lightgray;margin-bottom:10px;">
        <p style="color:#45B39D; font-size:large">选修人数</p>
        <div id="optinalCourse" style="font-size:medium; color:#45B39D">
        </div>
        <input type="button" class="btn btn-default button_default" style="margin:20px;" value="新增" onclick="addt()" />                         <!--=======addt-->
        <select name="TeamAndStrategy" class="form-control">
            <option value="1">均满足</option>
            <option value="0">满足其一</option>
        </select>
    </div>

    <div class="informationlist" style="border-top-color:lightgray;margin-bottom:10px; overflow-y:scroll;">
        <p style="color:#45B39D; font-size:large">冲突课程</p>
        <p>选修不同冲突课程的学生不可同组，注意同课程名不同教师名为不同课程</p>
        <div id="showconflictCourse" style="font-size:medium; color:#45B39D">
        </div>
        <input type="button" class="btn btn-default button_default" value="新增" style="margin:20px;" onclick="addt2()" />                         <!--=======addt-->
    </div>
    <div style="margin-top:40px; padding:10px;font-size: large;">
        <input type="submit" value="确定" class="button_login" />
    </div>
</form>



<!--选修block=========================================================================================================================================-->
<div hidden id="addOptionalCourse1" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">选修课程</span>
        <select name="cmls1" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">下限</span>
        <input id="minn1" name="minn1" type="number" class="form-control">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">上限</span>
        <input id="maxn1" name="maxn1" type="number" class="form-control">
    </div>
</div>
<!--b2=========================================================================================================================================-->
<div hidden id="addOptionalCourse2" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">选修课程</span>
        <select name="cmls2" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">下限</span>
        <input id="minn2" name="minn2" type="number" class="form-control">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">上限</span>
        <input id="maxn2" name="maxn2" type="number" class="form-control">
    </div>
</div>
<!--b3=========================================================================================================================================-->
<div hidden id="addOptionalCourse3" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">选修课程</span>
        <select name="cmls3" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">下限</span>
        <input id="minn3" name="minn3" type="number" class="form-control">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">上限</span>
        <input id="maxn3" name="maxn3" type="number" class="form-control">
    </div>
</div>
<!--b4=========================================================================================================================================-->
<div hidden id="addOptionalCourse4" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">选修课程</span>
        <select name="cmls4" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">下限</span>
        <input id="minn4" name="minn4" type="number" class="form-control">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">上限</span>
        <input id="maxn4" name="maxn4" type="number" class="form-control">
    </div>
</div>
<!--b5=========================================================================================================================================-->
<div hidden id="addOptionalCourse5" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">选修课程</span>
        <select name="cmls5" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
    <div class="input-group" style="margin:10px;">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">下限</span>
        <input id="minn5" name="minn5" type="number" class="form-control">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">上限</span>
        <input id="maxn5" name="maxn5" type="number" class="form-control">
    </div>
</div>

<!--冲突block=========================================================================================================================================-->
<div hidden id="addConflictCourse1" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div id="addinner1">
        <div class="input-group" style="margin:10px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
            <select name="ccs11" class="form-control">
                @for (int i = 0; i < ViewBag.name.Count; i++)
                {
                    <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
            </select>
        </div>
        <div class="input-group" style="margin:10px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
            <select name="ccs12" class="form-control">
                @for (int i = 0; i < ViewBag.name.Count; i++)
                {
                    <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
            </select>
        </div>
    </div>
    <input type="button" class="btn btn-default button_default" style="margin:20px;" value="新增" onclick="addinner('1')" />                      <!--add inner-->
</div>

<!--b2=========================================================================================================================================-->
<div hidden id="addConflictCourse2" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div id="addinner2">
        <div class="input-group" style="margin:10px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
            <select name="ccs21" class="form-control">
                @for (int i = 0; i < ViewBag.name.Count; i++)
                {
                    <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
            </select>
        </div>
        <div class="input-group" style="margin:10px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
            <select name="ccs22" class="form-control">
                @for (int i = 0; i < ViewBag.name.Count; i++)
                {
                    <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
            </select>
        </div>
    </div>
    <input type="button" class="btn btn-default button_default" style="margin:20px;" value="新增" onclick="addinner('2')" />
</div>

<!--b3=========================================================================================================================================-->
<div hidden id="addConflictCourse3" style="border-bottom:solid; border-bottom-color:lightgray; border-bottom-width:1px;">
    <div id="addinner3">
        <div class="input-group" style="margin:10px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
            <select name="ccs31" class="form-control">
                @for (int i = 0; i < ViewBag.name.Count; i++)
                {
                    <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
            </select>
        </div>
        <div class="input-group" style="margin:10px;">
            <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
            <select name="ccs32" class="form-control">
                @for (int i = 0; i < ViewBag.name.Count; i++)
                {
                    <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
            </select>
        </div>
    </div>
    <input type="button" class="btn btn-default button_default" style="margin:20px;" value="新增" onclick="addinner('3')" />
</div>

<!--append-->
<div hidden id="inner11" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs13" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner12" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs14" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner13" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs15" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner21" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs23" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner22" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs24" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner23" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs25" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner31" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs33" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner32" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs34" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>
<div hidden id="inner33" style="margin:10px;">
    <div class="input-group">
        <span style="font-size:large;color:#45B39D;" class="input-group-addon">冲突课程</span>
        <select name="ccs35" class="form-control">
            @for (int i = 0; i < ViewBag.name.Count; i++)
            {
                <option value="@ViewBag.coid[i]">@ViewBag.name[i]</option>}
        </select>
    </div>
</div>