
@{
	ViewBag.Title = "StudentInfo";
	Layout = "~/Views/Shared/AdminLayout/_LayoutAdmin2.cshtml";
}
<script type="text/javascript" language="javascript">
    function newPassW(id) {
        var str = id.toString();
        document.getElementById("inputpwd_" + str).value = prompt("请输入新密码", "");
    }
    function TeacherDel(id) {
        if (confirm("确认删除该账户吗？")) {
            alert("删除成功");
            window.location.href = "StudentDel/" + id.toString();
        }
    }
    function Search() {
        window.location.href = "?Search=" + document.getElementById("search").value;
    }
</script>
<!-- header -->
<div class="container" style=" width:90%; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
	<h2>学生信息管理</h2>
</div>
<!-- header2 -->
<div class="container" style=" padding:5px; width:90%; background-color:#f0f0f0; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
	<div style="display:inline">
		<div class="input-group" style="float:left;width:45%;">
			<span class="glyphicon glyphicon-search input-group-addon"></span>
			<input type="text" class="form-control" placeholder="学号/姓名" style="display:inline;" id="search">
		</div>
	</div>

	<p style="display:inline;margin-right:5px;font-size:20px;line-height:inherit">每页显示</p>
	<select style="height:25px">
		<option value="5">5</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
	<button type="button" class="btn btn-primary" onclick="Search()" style="float:right;background-color:#5ab4ac;color:white;border:none">
		搜索
	</button>
</div>
<!-- body -->
<div class="container" style=" padding:5px; width:90%; background-color:#f0f0f0; margin:20px; border-radius:3px 3px; border:inset;border-width:1px; border-color:#f7f7f7;">
    <table class="table">
        <thead>
            <tr>
                <td>学生列表</td>
                <td></td>
                <td></td>
                <td>
                    <a class="glyphicon glyphicon-plus-sign" href="/Admin/StudentCreate" style="color:#5ab4ac">新建账户</a>
                </td>
            </tr>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>电子邮箱</th>
                <th>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>24320162202891</td>
                <td>Rammohan </td>
                <td>Ramohan@163.com</td>
                <td style="float:right;">
                    @Html.ActionLink(" ", "TeacherInfoMod", "Admin", new { style = "color:#5ab4ac;", @class = "glyphicon glyphicon-pencil" })
                    @Html.ActionLink(" ", "TeacherInfo", "Admin", new { onclick = "newPassW()", style = "color:#5ab4ac;padding-left:5px", @class = "glyphicon glyphicon-repeat" })
                    @Html.ActionLink(" ", "TeacherInfo", "Admin", new { onclick = "delAccount()", style = "color:#5ab4ac;padding-left:5px", @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        </tbody>

        <!--from database-->
        @foreach (var student in ViewBag.studentlist)
        {
            <tbody>
                <tr>
                    <td>@student.account</td>
                    <td>@student.student_name </td>
                    <td>@student.email</td>
                    <form method="post">
                        <td style="float:right;">
                            <input type="hidden" name="inputpwd_@student.id" id="inputpwd_@student.id" value="">
                            <input type="hidden" name="newpass" id="newpass" value="@student.id">
                            @Html.ActionLink(" ", "TeacherInfoMod", new { id = student.id }, new { style = "color:#5ab4ac;", @class = "glyphicon glyphicon-pencil" })
                            <button type="submit" class="glyphicon glyphicon-repeat" onclick="newPassW(@student.id)" style="color:#5ab4ac;padding-left:5px;background-color:Transparent;border-style:none;outline:none"></button>
                            <button type="button" class="glyphicon glyphicon-trash" onclick="TeacherDel(@student.id)" style="color:#5ab4ac;padding-left:5px;background-color:Transparent;border-style:none;outline:none"></button>
                        </td>
                    </form>
                </tr>
            </tbody>
        }
    </table>
</div>